{% extends "index.html" %}
{% block content %}
    <div class="container py-5">
        <div class="form-signin w-50 m-auto text-center">
            <form method="POST">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Авторизация</h1>

                <div class="form-floating">
                    <input type="text" class="form-control" name="username" id="id_username"
                           maxlength="150" autofocus required placeholder="username">
                    <label for="id_username">Имя пользователя</label>
                </div><br>
                <div class="form-floating">
                    <input type="password" name="password" required class="form-control"
                           placeholder="Password" id="id_password">
                    <label for="id_password">Пароль</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Запомнить меня<br>(всё равно не поможет)
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-danger" type="submit">Войти</button>
                <p class="text-center mt-2">Нет учётной записи? <a href="{% url "users:register" %}">Зарегистрируйся</a>!
                </p>
                <p class="mt-5 mb-3 text-muted">
                    Busk
                    2022
                </p>
            </form>
        </div>
    </div>
{% endblock %}
