{% extends 'index.html' %}

{% block tittle %} {{ meal.name }} {% endblock %}

{% block path %}
    <a href="{% url 'cafe_core_app:menu' %}" class="nav-link px-2 text-white">Меню</a>
    <div class="nav-link px-2 text-white"> >></div>
    <a href="{% url 'cafe_core_app:meal_category' meal_category %}" class="nav-link px-2 text-white">
        {{ meal_category }}</a>
{% endblock %}

{% block content %}
    {% if images %}
        <div class="container mt-2">
{#            <table width="100%">#}
{#                <tr>#}
                    {% for image in images %}
{#                        <td>#}
                            <img class="img-responsive rounded m-2"  src={{ image.image.url }} alt="">
{#                        </td>#}
                    {% endfor %}
{#                </tr>#}
{#            </table>#}
        </div>
    {% endif %}
    {% if meal %}
        <p><b>Блюдо: </b> {{ meal.name }}</p>
        <p><b>Описание: </b> {{ meal.description }}</p>
        <p><b>Цена: </b> {{ meal.price }} BYN</p>
        <p><b>Размер: </b> {{ meal.size }} г.</p>
    {% else %}
        Блюдо пустое :(
    {% endif %}
    {% if user.is_staff %}
        <a href="{% url 'cafe_core_app:stats' meal.id %}">Статистика</a>
    {% endif %}
{% endblock %}

